
html, body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
      cursor:grab;
  font-family: "Karla";
  width: 100vw;
  background: #04002b;
  position: relative;
}

*{
  box-sizing: border-box;
}
.accept{
  margin:0;
  padding:0;
  position: absolute;
  z-index:99;
  background-color: #04002b;
  width:100%;
  text-align: center;
  height:100vh;
}
button{
  color:white;
  font-family: "Karla";
  border:0;
  font-size:20px;
  cursor: pointer;
  margin:0;
  padding:10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  transition:0.5s ease;
}

.text{
  color:transparent;
  font-family: "Karla";
  font-size:50px;
  text-transform: uppercase;
  -webkit-text-stroke: 0.5px white;
  border:0;
  margin:0;
  position: absolute;
  top: 43%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  transition:0.5s ease;
}
.text:hover{
  color:white;
  transition:0.5s ease;
}
#canvas {
  position: fixed;
  left: 0;

  top: 0;
  width: 100%;
  height: 100%;
}

audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width: 250px;
    position: absolute;
    text-align: center;
    height: 25px;
}

audio.active{
  bottom: 10px;
}

#thefile{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: 1;
}

label.file{
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  padding: 1rem 2rem;
  border-radius: 4px;
  font-size: 1.25em;
  font-weight: 700;
  cursor: pointer;
}


label.file:hover{

    transform: translate3d(-50%, -55%, 0);
}

label.file:active{

    transform: translate3d(-50%, -45%, 0);
}

label.file.normal{
  transform: translate3d(10%, 50%, 0);
  padding: 0.2rem 2rem;
  font-size: 1rem;
  top: 0;
  left: 0;
}
.content{

}
